/*
 *= require font-awesome
 *= require twitter/bootstrap
 */

body {
  background: #fff5ee;
}

h1 {
  color: #000000;
  text-align: center;
  background-image: url('http://3.bp.blogspot.com/-BIPUS3FTtI0/T1NePvwkiZI/AAAAAAAAITY/QMLLmRVI80M/s400/Alps+aust+inns.jpg');
  background-position: center;
}

h3 a {
  color: #191970;
  text-align: left;
}

p {
  font-family: calibri;
  font-size: 20px;
}

.post {
  padding-left: 20px;
}

.left-column {
  width: 10%;
  float: left;
}

.right-column {
  width: 90%;
  float: left;
}

.inner {
  width: 100%;
}