/*
 *= require font-awesome
 *= require twitter/bootstrap
 */

body {
  background-color: #fffafa;
}

h1 {
  color: navy;
  text-align: center;
}

h3 a {
  color: #191970;
  text-align: left;
}

p {
  font-family: calibri;
  font-size: 20px;
}
